<div class="radio-list-container">
  <div class="radio-list-header">
    <h3>{{ title }}</h3>
  </div>

  <mat-radio-group
    [value]="selectedValue"
    (change)="onSelectionChange($event.value)"
    class="radio-group"
  >
    @for (item of items; track item.id) {
      <div class="radio-item">
        <mat-radio-button [value]="item.value" class="radio-button">
          {{ item.text }}
        </mat-radio-button>
      </div>
    }
  </mat-radio-group>

  <div class="radio-list-actions">
    <button
      mat-raised-button
      [color]="buttonColor"
      [disabled]="!selectedValue"
      (click)="onButtonClick()"
      class="action-button"
    >
      {{ buttonText }}
    </button>
  </div>
</div>
