<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1>{{ 'page-name' | translate }}</h1>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button routerLink="/">Home</a>
      <a mat-button routerLink="/">Home</a>
      <a mat-button routerLink="/">Home</a>
      <a mat-button routerLink="/">Home</a>
      <a mat-button routerLink="/">Home</a>
      <a mat-button routerLink="/">Home</a>
      <a mat-button routerLink="/">Home</a>
      <a mat-button routerLink="/">Home</a>
    </div>
  </mat-toolbar-row>

  <mat-toolbar-row>
      <span>Welcome on my page.</span>
    </mat-toolbar-row>
</mat-toolbar>
