@use '../../../../styles/variables';

.card-content {
  color: variables.$text-primary;
  line-height: variables.$line-height-normal;

  p {
    margin: 0 0 variables.$spacing-md 0;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
