/* For use in src/lib/core/theming/_palette.scss */
$pallete-accent: (
  50 : #e4efee,
  100 : #bdd8d5,
  200 : #91beba,
  300 : #64a39e,
  400 : #439089,
  500 : #227c74,
  600 : #1e746c,
  700 : #196961,
  800 : #145f57,
  900 : #0c4c44,
  A100 : #83ffed,
  A200 : #50ffe6,
  A400 : #1dffdf,
  A700 : #03ffdb,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

$pallete-primary: (
  50 : #e3e1e8,
  100 : #b9b3c6,
  200 : #8b80a1,
  300 : #5c4d7b,
  400 : #39275e,
  500 : #160142,
  600 : #13013c,
  700 : #100133,
  800 : #0c012b,
  900 : #06001d,
  A100 : #665bff,
  A200 : #3728ff,
  A400 : #1100f4,
  A700 : #0f00da,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #ffffff,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #ffffff,
      A200 : #ffffff,
      A400 : #ffffff,
      A700 : #ffffff,
  )
);


