$palette-primary: #FFFACD; // Kremowy kolor dla headera
$palette-background: #FFFFFF; // Biały kolor dla środka strony
$palette-accent: #FFA500; // Odcień pomarańczowy dla stopki
$font-color: #000000; // Czarny kolor czcionki
$accent-font-color: #FFA500; // Pomarańczowy kolor czcionki dla elementów akcentujących
