@use '@angular/material' as mat;

@include mat.core();

$mybase-primary: mat.define-palette(mat.$amber-palette, 50);
$mybase-accent: mat.define-palette(mat.$orange-palette, 100);
$mybase-warn: mat.define-palette(mat.$red-palette);
$mybase-basic: mat.define-palette(mat.$grey-palette);

// theming systems such as "color" or "typography".
$mybase-theme: mat.define-light-theme((
  color: (
    primary: $mybase-primary,
    accent: $mybase-accent,
    warn: $mybase-warn,
    basic: $mybase-basic,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($mybase-theme);

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
