$palette-primary: #fffacd; // Kremowy kolor dla headera
$palette-background: #ffffff; // Biały kolor dla środka strony
$palette-accent: #ffa500; // Odcień pomarańczowy dla stopki
$font-color: #000000; // Czarny kolor czcionki
$accent-font-color: #ffa500; // Pomarańczowy kolor czcionki dla elementów akcentujących
