@import './styles/variables.scss';

/* You can add global styles to this file, and also import other style files */

body {
  background: $gradient-dark;
  color: $text-primary;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
